# 고양이 (10171)
## 줄바꿈

In [23]:
# 문자인 \을 입력하려면 \\ 입력하기!

print("\    /\\\n )  ( ')\n(  /  )\n \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [22]:
# 문자인 \를 입력하려면 \\ 입력하기!

print("""\    /\\
 )  ( ')
(  /  )
 \(__)|""")

\    /\
 )  ( ')
(  /  )
 \(__)|

# 개 (10172)
## 줄바꿈

In [26]:
# 표시해야 하는 내용에 """가 있으니까 문자열을 '''로 바꿔서 묶어줌!
# 문자인 \입력할 때 꼭 하나 더 입력해주기!!

print('''|\_/|
|q p|   /}
( 0 )"""\\
|"^"`    |
||_/=\\\__|''')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

# A+B (1000)
## input, split

In [ ]:
# input과 .split() 사용하기!

a, b = input().split()
a = int(a)
b = int(b)
print(a+b)

## map

In [31]:
# map(함수, 매개변수)
# 매개변수로는 반복 가능한 자료형인 리스트/튜플 등이 온다!

a, b = map(int, input().split())
print(a+b)

 1 2

3

In [33]:
# map(함수, 매개변수)

L1 = ['1','2','3','4','5']
print(L[0], type(L[0]))

L2 = list(map(int, L))
print(L2[0], type(L2[0]))

1 <class 'str'>
1 <class 'int'>

# A-B (1001)

In [37]:
a, b = map(int, input().split())
print(a-b)

 1 9

-8

# A*B (10998)

In [38]:
a, b = map(int, input().split())
print(a*b)

 2 6

12

# A/B (1008)

In [41]:
a, b = map(int, input().split())
print(a/b)

 1 3

0.3333333333333333

# 사칙연산 (10869)
## 몫(//)과 나머지(%)
## sep='\n'을 사용한 줄바꿈

In [47]:
a, b = map(int, input().split())
print(a+b, a-b, a*b, a//b, a%b, sep='\n')

 7 3

10
4
21
2
1

# ??! (10926)
## 마음대로 조건을 추가하지 말자...!

In [53]:
# 처음에는 이렇게 풀었는데 틀렸다...
# joonas가 아닌 다른 이름이어도 작동해야 하나 싶어서 아래 답으로 바꿨다...

ID = ['joonas', 'loonas', 'coonas']
name = input()
if name in ID:
    print(name+"??!")

 voonas

In [54]:
# 상황에는 안 맞지만 어떤 걸 넣어도 답이 나오게 만들었다!

print(input()+"??!")

 joonas

joonas??!

# 1998년생인 내가 태국에서는 2541년생?! (18108)

In [56]:
dif = 2541-1998
y = int(input())
print(y-dif)

 2541

1998

# 나머지 (10430)

In [64]:
A, B, C = map(int, input().split())
print((A+B)%C, ((A%C) + (B%C))%C, (A*B)%C, ((A%C) * (B%C))%C, sep='\n')

 5 8 4

1
1
0
0

# 곱셈 (2588)
## 문자열 인덱싱

In [76]:
# 문자열 b를 인덱싱하여 계산에 사용!

a = int(input())
b = input()

n1 = a * int(b[2])
n2 = a * int(b[1])
n3 = a * int(b[0])

result = n1 + (10 * n2) + (100 * n3)

print(n1, n2, n3, result, sep='\n')

 472
 385

2360
3776
1416
181720