# 두 수 비교하기 (1330)

# 알람 시계 (2884)

In [5]:

H, M = map(int, input().split())
H2 = 0
M2 = 0

if M < 45:
    if H < 1:
        H2 = H + 24 - 1
        M2 = M + 60 - 45
    else:
        H2 = H - 1
        M2 = M + 60 - 45
else:
    H2 = H
    M2 = M - 45

print(H2, M2)

 23 40

22 55

# 오븐 시계 (2525)

In [31]:
h, m = map(int, input().split())
time = int(input())
fh = 0
fm = 0
ph = time // 60
pm = time % 60
    
if m + pm >= 60:
    if h + ph + 1 >= 24:
        fh = h + ph + 1 - 24
        fm = m + pm - 60
    else:
        fh = h + ph + 1
        fm = m + pm - 60
else:
    if h + ph >= 24:
        fh = h + ph - 24
        fm = m + pm
    else:
        fh = h + ph
        fm = m + pm

print(fh, fm)

 20 32
 240

0 32

# 주사위 세개 (2480)
## list, list.sort()

In [39]:
a, b, c = map(int, input().split())
reward = 0

if a == b == c:
    reward = 10000 + (a * 1000)
else:
    if a == b or a == c or b == c:
        if a == b or a == c:
            reward = 1000 + (a * 100)
        else:
            reward = 1000 + (b * 100)
    else:
        list = [a, b, c]
        list.sort(reverse=True)
        reward = list[0] * 100

print(reward)

 6 2 3

600

## set

In [7]:
a, b, c = map(int, input().split())
l = [a, b, c]
l.sort()
sl = set(l)

if len(sl) == 1:
    print(10000 + (l[0] * 1000))
elif len(sl) == 2:
    print(1000 + (l[1] * 100))
else:
    print(l[-1] * 100)

 2 2 4

1200

# 사분면 고르기 (14681)

In [2]:
x = int(input())
y = int(input())

if x > 0:
    if y > 0:
        print(1)
    else:
        print(4)
else:
    if y > 0:
        print(2)
    else:
        print(3)

 9
 -13

4